parameters:
    phpVersion: 80200
    level: 5
    paths:
        - .
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/tests/*
    ignoreErrors:
        - '#Attribute class JetBrains\\PhpStorm\\NoReturn does not exist#'